{% extends "layouts.html" %}

{% block content %}
    <header class="d-flex justify-content-between align-items-stretch align-content-stretch bg-dark">
      <!-- <div class="container"> -->
      <!-- <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"> -->
        <!-- <div class="text-start">
            <strong> DOCS </strong>
        </div> -->
      <div class="container">
        <ul class="nav nav-justified justify-content-center">
          <li class="nav-item">
            <a id="index-link" class="nav-link {{active_link.index}}" href="/index">Статьи</a>
          </li>
          <li class="nav-item">
            <a id="fav-link" class="nav-link {{active_link.fav}}" href="/fav">Избранное</a>
          </li>
          <li class="nav-item">
            <a id="source-link" class="nav-link" href="#">Источники</a>
          </li>
          <li class="nav-item">
            <a id="about-link" class="nav-link" href="#">О программе</a>
          </li>
        </ul>
      </div>
        <!-- <nav class="navbar navbar-expand-lg sticky-top">
          <div class="container-fluid">
        col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 -->
        <!-- px-2 text-white
          <a class="navbar-brand" href="/index" class="nav-link active">Статьи</a>
          <a class="navbar-brand" href="/fav" class="nav-link">Избранное</a>
          <a class="navbar-brand" href="#" class="nav-link">Источники</a>
          <a class="navbar-brand" href="#" class="nav-link">О программе</a>
          </div>
        </nav>
      </div> -->
    </header>

    <div class="album py-5 bg-light">
        <div class="container">
          {% if art %}
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for item in art %}
            <div id ="{{ item.id }}" class="col">
              <div class="card shadow-sm">
                <div class="card-body">
                  <div class="d-flex justify-content-between">                  
                    <small class="text-muted"> {{ item.text_class }} </small>
                    <small class="text-muted"> {{ item.source }} </small>
                  </div>
                  <p class="card-text"> {{ item.abstr }} </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" id="{{ item.id }}" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal-window-{{ item.id }}">Читать полностью</button>
                      <button type="button" id="main-btn-fav-{{ item.id }}" class="btn btn-sm btn-outline-secondary fav-{{ item.fav }}" onclick="toggleFav(this)">
                        {% if item.fav == 0 %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-plus" viewBox="0 0 16 16">
                          <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                          <path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z"/>
                        </svg>
                        {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                        </svg>
                        {% endif %}
                      </button>
                    </div>
                    <small class="text-muted">{{ item.time }}</small>
                  </div>
                </div>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="modal-window-{{ item.id }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">{{ item.text_class }}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                      {{ item.text }}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Закрыть</button>
                      {% if item.fav == 0 %}
                      <button type="button" id="modal-btn-fav-{{ item.id }}" class="btn btn-outline-success fav-{{ item.fav }}" onclick="toggleFav(this)">
                        Добавить в избранное
                      </button>
                      {% else %}
                      <button type="button" id="modal-btn-fav-{{ item.id }}" class="btn btn-outline-danger fav-{{ item.fav }}" onclick="toggleFav(this)">
                        Убрать из избранного
                      </button>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal -->
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>

{% endblock %}