{% extends "layouts.html" %}

{% block content %}
    <header class="p-3 bg-dark text-white">
        <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <div class="text-start">
                <strong> DOCS </strong>
            </div>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 text-white">Главная</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Обработанные статьи</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Избранное</a></li>
            <li><a href="#" class="nav-link px-2 text-white">О программе</a></li>
            </ul>

            <div class="text-end">
            <button type="button" class="btn btn-outline-light me-2">Вход</button>
            <button type="button" class="btn btn-warning">Регистрация</button>
            </div>
        </div>
        </div>
    </header>

    <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <div class="card-body">
                  <p class="card-text">
                    Gazprom is ramping up capital expenditure plans in 2018 and 2019, in order to achive its targets of diversifyning sales to China and circumventing pipeline transit via Ukraine. This involves the construction or completion of three major pipelines that will connect Russia directly with its largest demand markets. Power of Siberia (to China), TurkStream (to Turkey) and Nord Stream II (to Germany).
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Читать полностью</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Добавить в избранное</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                  <div class="card-body">
                    <p class="card-text">
                        Nord Stream II remains the outlier. While it appears spending on the subsea pipeline is increasing in rouble terms, according to our exchange rate estimates for 2017 and forecasts for 2018, the amount is largely flat y-o-y 2018 spending will reportedly increase from USD1.76bn to USD1.88bn. Additionally, it is unclear where or how much of the 2017 USD1.76 budget for the subsea sections of the pipeline has been spent, with much of the physical pipeline already having been purchased. It may be that this budget has largely been shifted into 2018, in preparation for a go ahead of the pipeline if financing and approvals are achived.                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Читать полностью</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Добавить в избранное</button>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <div class="card-body">
                    <p class="card-text">
                        2018 and 2019 will be critical years for Russia´s gas expansion ambitions, particularly with regard to the Nord Stream II pipeline. Pipe lay progress with the China link and Turkstream pipelines is moving ahead as planned, with the focus of capital moving gradually towards ensuring supply and takeaway capacity. Gazprom is increasing expenditure of the Chayandiskoe fields by more than 60% in 2018, in preparation for filling the pipeline and delivering gas to China from December 2019. Similarly, foundations have been put down for the Amur gas processing plant, which will deliver Russian gas into China. Investment into onshore transit links in Turkey is also planned in the 2018 budget, indicating the Turkstream pipeline could be linked in to the Turkish system by the end of 2018, and before the Trans-Anatolian pipeline (TANAP) from Azerbaijan is operational.                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Читать полностью</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Добавить в избранное</button>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

{% endblock %}