{% extends "layouts.html" %}

{% block content %}
<!-- Internet -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasFilt" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasLabel">Интернет</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="btn-group-vertical" style="width: 100%;" role="group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-dark btn-sm" for="btnradio1">News API</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-dark btn-sm" for="btnradio2">HotNews API</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-dark btn-sm" for="btnradio3">RareNews API</label>
        </div>
      <div class="switches py-4">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="switchPolitics" onclick="applyFilters(this)">
          <label class="form-check-label" for="switchPolitics">BBC</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="switchEconomics" onclick="applyFilters(this)">
          <label class="form-check-label" for="switchEconomics">CNN</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="switchScience" onclick="applyFilters(this)">
          <label class="form-check-label" for="switchScience">Bloomberg</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="switchStrategy" onclick="applyFilters(this)">
          <label class="form-check-label" for="switchStrategy">The Wall Street Journal</label>
        </div>
        <div class="my-3">
          <a href="/show_source_articles"><button type="button" class="btn btn-outline-success btn-sm">Применить</button></a>
          <button type="button" class="btn btn-outline-dark btn-sm" onclick="resetFilters(this)">Сбросить фильтры</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /Internet -->
<div class="container py-2">
    <div class="row row-cols-6 py-2 justify-content-center">
        <div class="col">
            <button type="button" class="btn btn-outline-dark filt-btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilt" aria-controls="offcanvasExample">Интернет</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-dark filt-btn" disabled>Документы</button>
        </div>
    </div>
    <hr>
    <div class="p-5 mb-4 text-white bg-dark rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Полученные документы</h1>
        <p class="col-md-8 fs-4">{% if total_articles %} {{total_articles}} {% else %} 0 {% endif %} документов готовы к обработке</p>
        <button class="btn btn-outline-light btn-lg" type="button">Начать</button>
      </div>
    </div>
    <div class="row py-2">
    {% for item in data%}
      <div class="col-md-4 py-2">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>{{item.source}}</h2>
          <p>Всего статей: {{item.total}}</p>
          <button class="btn btn-outline-secondary" type="button">Исключить</button>
        </div>
      </div>
    {% endfor %}
    </div>
  </div> <!-- /container -->

{% endblock %}